<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>BLOGS</h1>
{% comment %} {{products}} {% endcomment %}
{% for product in products %}
    {{product.name}}
{% endfor %}
<table class ="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <td>QTY</td>
            <td>DESCRIPTION</td>
            <td>COLOR</td>
            <td>SALE</td>
        </tr>
    </thead>
    <tbody>
        {% for prod in products  %}
        <tr>
            <td>{{prod.id}}</td>
            
            {% if prod.saleunit > 500 %}
                <td style ="color:green">{{prod.name}}</td>    
                {% else %}
                <td style ="color:red">{{prod.name}}</td>    
            {% endif %}
                
            
            <td>{{prod.price}}</td>
            <td>{{prod.qty}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.color}}</td>
            <td>{{prod.saleunit}}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>



{{age}}    

{% if age >= 20 %}
    <h1>you are old</h1>
{% else %}
<h1>you are young</h1>
{% endif %}

    
    
    

    

