{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <!-- Social Media Float -->
    <div class="float-sm">
     <div class="fl-fl float-fb">
      <i class="fa fa-facebook"></i>
      <a href="" target="_blank"> Like us!</a>
     </div>
     <div class="fl-fl float-tw">
      <i class="fa fa-twitter"></i>
      <a href="" target="_blank">Follow us!</a>
     </div>
     <div class="fl-fl float-ig">
      <i class="fa fa-instagram"></i>
      <a href="" target="_blank">Follow us!</a>
     </div>
     <div class="fl-fl float-pn">
      <i class="fa fa-pinterest"></i>
      <a href="" target="_blank">Follow us!</a>
     </div>
    </div>
    <section>
     <div class="div1 center trig">
      <p class="nav">
       <a href="#">grDDy</a>
      </p>
     </div>
     <div class="div2"></div>
     <div class="div3"></div>
     <div class="div3 center trig">
      <p class="nav">
       <a href="#">Arts</a>
      </p>
     </div>
     <div class="div4 center trig">
      <p class="nav">
       <a href="#">About</a>
      </p>
     </div>
     <div class="div5 center trig">
      <p class="nav">
       <a href="{% url 'login' %}">LOGIN</a>
      </p>
     </div>
     <div class="div7"></div>
     <div class="div8"></div>
     <div class="div9 center">
      <h2>a</h2>
     </div>
     <div class="div10 center">
      <h2>s</h2>
     </div>
     <div class="div11"></div>
     <div class="div12"></div>
     <div class="div13"></div>
     <div class="div14"></div>
     <div class="div15 center">
      <p>
       <em>
        "Unless and until you are detached, you cannot ascend."
        <br>
        <strong>
         ~ Nirmala Srivastava
        </strong>
       </em>
      </p>
     </div>
     <div class="div16"></div>
     <div class="div17 center">
      <h2>c</h2>
     </div>
     <div class="div18 center">
      <h2>e</h2>
     </div>
     <div class="div19"></div>
     <div class="div20"></div>
     <div class="div21"></div>
     <div class="div22"></div>
     <div class="div23"></div>
     <div class="div24"></div>
     <div class="div25 center">
      <h2>n</h2>
     </div>
     <div class="div26 center">
      <h2>d</h2>
     </div>
     <div class="div27"></div>
     <div class="div28"></div>
     <div class="div29"></div>
     <div class="div30"></div>
     <div class="div31"></div>
     <div class="div32"></div>
     <div class="div33"></div>
     <div class="div34"></div>
     <div class="div35"></div>
    </section>
   </body>